 /* label, input {
  display: inline-block;
}  */

.container  {
  width: 80%;
  height: 90%;
  margin: auto;
}

.singleRadio {
  display: inline-block;
  text-align: center;
  margin: 5px;
}

.singleRadioLabel {
  display: block;
}

#pageTitle  {
  text-align: center;
}

#roboger  {

  width: 100%;

  
  z-index: -1;
}

#robogerBody  {
  display: absolute;
  /* transform: scale(0.4); */
  
}