.container  {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  height: 800px;
}

#topBar  {
  height: 100px;
  z-index: 3;
}

div#sideBar {
  position: relative;
  width: 28%;
  height: 60%;
  left: 725px;
  top: 13px;
  border: 2px solid black;
}

div#pizzaDetails  {
  position: relative;
  width: 28%;
  height: 38%;
  left: 725px;
  border: 2px solid black;

}

#size {
  display: inline;
  width: 500px;  
} 

div#topping, div#deleteTopping, #submitPizza {
  display: inline-block;
  margin-left: 7px;
}

label {
  display: block;  
}


.singleRadio {
  display: inline-block;
  text-align: center;
  margin: 5px;
}

.singleRadioLabel {
  display: block;
}

#pageTitle  {
  text-align: center;
  margin: 3%;
}

#mainArea  {
  position: relative;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 0;
}

#cheesePizza, #motor-oil, #pepperoni, #mushrooms, #sausage, #peppers, #mystery  {
  position: absolute;
  transform: scale(0.8);
  left: -150px;
  top: -100px;
  z-index: -4;
}

#motor-oil, #pepperoni, #mushrooms, #sausage, #peppers, #mystery {
  display: none;
}

#pizzasInCart {
  height: 80%;
  padding: 10px;
  z-index: 2;
}

#pizzaDetails {
  padding: 1%;
}

#cartTotal  {
  margin: 2%;
  font-size: 16pt;
  text-align: center;
}

#cartHeader {
  margin: 2%;
  font-size: 16pt;
  display: inline;
}

#info {
  display: inline;
  font-size: 10pt;
} 

p {
  margin: 9;
}